!!!
%html
  %head
    %title
      = install_title(yield(:title))
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailstutorialApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

    /[if lt IE 9]
    %script{ type: 'text/javascript', src: 'http://html5shim.googlecode.com/svn/trunk/html5.js' }

  %body
    = render "layouts/header"
    .container
      = yield
      = render "layouts/footer"
