!!!
%html
  %head
    %title
      = install_title(yield(:title))
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailstutorialApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

    -# <!--[if lt IE 9]>
    -#   <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    -#   </script>
    -# <![endif]-->
  %body
    %header(class="navbar navbar-fixed-top navbar-inverse")
      .container
        = link_to "sample app", "#", id: "logo"
        %nav
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to('Home', home_path)
            %li
              = link_to('About', about_path)
            %li
              = link_to('Help', help_path)
    .container
      = yield
